# Python
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.coverage
venv/
venv-meltano/

# Local dev
.env

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Meltano
meltano/.meltano/
meltano/output/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Misc
*.log
*.tmp
